@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
   
}

html {
    font-size: 60%;
    overflow: scroll;
    
    }
  

::-webkit-scrollbar {
  width: 10px;
}


::-webkit-scrollbar-track {
  background: transparent;
}


::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 111, 0.726);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background:darkblue;
}

.header1 {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    padding: 1.5rem 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: .3s;
    background: rgba(255, 255, 255, 0.692);
}

.navbar a {
    font-size: 1.7rem;
    color: #081b29;
    font-weight: 600;
    margin-left: 3.5rem;
    font-family: 'Poppins', sans-serif;
}

.navbar.active {
    background-color: rgba(255, 255, 255, 0.712);
}

.logo {
    font-size: 3rem;
    color: #081b29;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
}

.home-section {
    position: relative;
    height: 600px;
    margin: 0;
    overflow: hidden;
}

.home-section video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding:0px 10px 0px 10px;
    opacity: 0.9;
}


.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: black;
    font-family: "Poppins",sans-serif;
}

.overlay h2 {
    font-size: 6.5rem;
    font-weight: 900;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
}

.carbon-footprint button:hover
{
    cursor: pointer;
}

